asgiref
beautifulsoup4
bleach
chardet
colorama
crispy-bootstrap4
defusedxml
diff-match-patch
Django
django-bootstrap4
django-cleanup
django-crispy-forms
django-filter
django-import-export
django-ipware
django-social-share
django-summernote
django-widget-tweaks
djangorestframework
et-xmlfile
gunicorn
MarkupPy
odfpy
openpyxl
pandas
Pillow
psycopg2
pytz
PyYAML
six
sqlparse
tablib
tzdata
webencodings
whitenoise
xlrd
xlwt
django-recaptcha