{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block headStyle %}
.zoom {
  transition: transform .2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5); 
}
{% endblock %}
{% block content %}
<div class="toolbar" id="kt_toolbar">
	<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
		<!--begin::Page title-->
		<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
			<!--begin::Title-->
			<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1"><a class="text-dark" href="{% url 'home' %}">HOME</a>
			<!--begin::Separator-->
			<span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
			<!--end::Separator-->
			<!--begin::Description-->
			<small class="text-muted fs-7 fw-bold my-1 ms-1">{{title|upper}}</small>
			<!--end::Description--></h1>
			<!--end::Title-->
		</div>
		<!--end::Page title-->
		<!--begin::Actions-->
		<div class="d-flex align-items-center gap-2 gap-lg-3">
			<!--begin::Secondary button-->
			<!--end::Secondary button-->
			<!--begin::Primary button-->
			<!-- <a href="../../demo1/dist/.html" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Create</a> -->
			<!--end::Primary button-->
		</div>
		<!--end::Actions-->
	</div>
</div>
<!--begin::Post-->
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<div id="kt_content_container" class="container-xxl">
							{% if messages %}
							    {% for message in messages %} 
							        <div class="alert alert-{{ message.tags }} alert-dismissable">
							        	<div class="d-flex justify-content-between">
							          		{{message}}
							          		<button type="button" class="close btn btn-sm" data-dismiss="alert" aria-hidden="true"><span class="bi bi-x-square"></span></button>
							        	</div>
							        </div>
							    {% endfor %}
							{% endif %}
							<!--begin::Container-->
								
								<!--begin::details View-->
								<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
									<!--begin::Card header-->
									<div class="card-header cursor-pointer">
										<!--begin::Card title-->
										<div class="card-title m-0">
											<h3 class="fw-bolder m-0">{{title}}</h3>
										</div>
									</div>
									<!--begin::Card header-->
									<!--begin::Card body-->
									<div class="card-body p-9">
										{% if page == 'dash' %}
										<form method="get" action="{% url 'UtilizadorEntregaEquipmentuDash' %}">
											{% csrf_token %}
										    <div class="input-group mb-3">
										    <input type="text" name="search_equipment" class="form-control" placeholder="Konsulta Ekipamentu. Naran Ekipamentu ka serial number">

											    <div class="input-group-append">
											      <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i> Konsulta</button>  
											     </div>
											  </div>
										</form>
										<hr>
										<div class="table-responsive">
											<!--begin::Table-->
											<table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
												<!--begin::Table head-->
												<thead>
													<tr class="fw-bolder text-muted">
														<th class="min-w-10px">Nu.</th>
														<th class="min-w-140px">Naran Ekipamentu</th>
														<th class="min-w-120px">Nu. Serial</th>
														<th class="min-w-120px">Data Empresta</th>
														<th class="min-w-120px">Data Atu Entrega</th>
														<th class="min-w-120px">Utilizador</th>
														<th class="min-w-120px">Loron Kontra</th>
														<th class="min-w-120px">Estadu</th>
				                  	{% if group == "Admin" or group == "Administracao Laboratorio" or group == "Cordenador Laboratorio" %}
														<th class="min-w-100px text-center">Actions</th>
														{%endif%}
													</tr>
												</thead>
												<!--end::Table head-->
												<!--begin::Table body-->
												<tbody>
													{% for obj in resultadu %}
													<tr>
														<td>
																{{forloop.counter}}
														</td>
														<td data-title="Username">
															<div class="d-flex align-items-center">
																<div class="symbol symbol-45px me-5">
																	{% if obj.item.image %}
																	<img src="{{obj.item.image.url}}" alt="" class="zoom" />
																	{% else %}
																	<img src="{% static 'assets/media/avatars/blank.png' %}" alt="No Photo" class="zoom" />
																	{% endif %}
																</div>
																<div class="d-flex justify-content-start flex-column">
																	{{ obj.item.ekipamentu.naran }}
																</div>
															</div>
														</td>
				                  	<td data-title="Group">{{ obj.item.nu_serial}}</td>
				                  	<td data-title="Email">{{ obj.data_empresta|date:"d/M/Y" }}</td>
				                  	<td data-title="Email">{{ obj.data_atu_entrega|date:"d/M/Y" }}</td>
				                  	<td data-title="Email"><span class="badge badge-secondary">{{ obj.utilizador.naran }}</span></td>
				                  	<td data-title="Email"><span class="badge badge-danger">{{ obj.loron_kontra }}</span></td>
				                  	<td data-title="Email">{{ obj.item.status }}</td>
				                  	{% if group == "Admin" or group == "Administracao Laboratorio" or group == "Cordenador Laboratorio" %}
														<td class="text-center">
															<div class="m-0">
																<a class="btn btn-sm btn-light btn-active-light-primary d-flex justify-content-between" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-overflow="true">
																	<span class="">Asaun </span><i class="mt-1 bi bi-chevron-down"></i>
																</a>
																<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px" data-kt-menu="true">
																	{% if obj.item.status == 'Uza Hela' %}
																	<div class="menu-item px-3">
																		<a href="{% url 'EntregaEkipamentu' obj.hashed %}" class="menu-link px-3 badge-light-success"><i class="bi bi-cart-plus mx-2"></i> Entrega</a>
																	</div>
																	{% elif obj.item.status == 'Disponivel' %}
																	<div class="menu-item px-3">
																		<a href="{% url 'UtilizadorUzaEquipmentuEmpresta' obj.item.hashed %}" class="menu-link px-3 badge-light-success"><i class="bi bi-cart-plus mx-2"></i> Empresta / uza</a>
																	</div>
																	{% endif %}
																	<br>
																</div>
															</div>
														</td>
														{%endif%}
													</tr>
													

													{%endfor%}
												</tbody>
												<!--end::Table body-->
											</table>
											<!--end::Table-->
										</div>
										{% endif %}
									</div>
									<!--end::Card body-->
										
								</div>
								<!--end::details View-->
								
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
{% endblock %}