{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block headStyle %}
.zoom {
  transition: transform .2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5); 
}
{% endblock %}
{% block content %}
<div class="toolbar" id="kt_toolbar">
	<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
		<!--begin::Page title-->
		<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
			<!--begin::Title-->
			<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1"><a class="text-dark" href="{% url 'home' %}">HOME</a>
			<!--begin::Separator-->
			<span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
			<!--end::Separator-->
			<!--begin::Description-->
			<small class="text-muted fs-7 fw-bold my-1 ms-1">{{title|upper}}</small>
			<!--end::Description--></h1>
			<!--end::Title-->
		</div>
		<!--end::Page title-->
		<!--begin::Actions-->
		<div class="d-flex align-items-center gap-2 gap-lg-3">
			<!--begin::Secondary button-->
			<!--end::Secondary button-->
			<!--begin::Primary button-->
			<!-- <a href="../../demo1/dist/.html" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Create</a> -->
			<!--end::Primary button-->
		</div>
		<!--end::Actions-->
	</div>
</div>
<!--begin::Post-->
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<div id="kt_content_container" class="container-xxl">
							{% if messages %}
							    {% for message in messages %} 
							        <div class="alert alert-{{ message.tags }} alert-dismissable">
							        	<div class="d-flex justify-content-between">
							          		{{message}}
							          		<button type="button" class="close btn btn-sm" data-dismiss="alert" aria-hidden="true"><span class="bi bi-x-square"></span></button>
							        	</div>
							        </div>
							    {% endfor %}
							{% endif %}
							<!--begin::Container-->
								<!--begin::Navbar-->
								<div class="card mb-5 mb-xl-10">
									<div class="card-body pt-9 pb-0">
										<!--begin::Details-->
										<div class="d-flex flex-wrap flex-sm-nowrap mb-3">
											<!--begin: Pic-->
											
											<!--end::Pic-->
											<!--begin::Info-->
											<div class="flex-grow-1">
												<!--begin::Title-->
												
												<!--end::Title-->
												<!--begin::Stats-->
												<div class="d-flex flex-wrap flex-stack">
													<!--begin::Wrapper-->
													<div class="d-flex flex-column flex-grow-1 pe-8">
														<!--begin::Stats-->
														<div class="d-flex flex-wrap">
															<!--begin::Stat-->
															<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3 text-center">
																<!--begin::Number-->
																<div class="">
																	<div class="fs-2 fw-bolder" data-kt-countup="true" data-kt-countup-value="{{disponivel|length}}" data-kt-countup-prefix="">0</div>
																</div>
																<!--end::Number-->
																<!--begin::Label-->
																<div class="fw-bold fs-6 text-gray-400">Total Ekipamentu Disponivel</div>
																<!--end::Label-->
															</div>
															<!--end::Stat-->
															<!--begin::Stat-->
															<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3 text-center">
																<!--begin::Number-->
																<div class="align-items-center">
																	<div class="fs-2 fw-bolder" data-kt-countup="true" data-kt-countup-value="{{la_disponivel|length}}">0</div>
																</div>
																<!--end::Number-->
																<!--begin::Label-->
																<div class="fw-bold fs-6 text-gray-400">Total Ekipamentu La Disponivel</div>
																<!--end::Label-->
															</div>
															<!--end::Stat-->
														</div>
														<!--end::Stats-->
													</div>
													<!--end::Wrapper-->
													<!--begin::Progress-->
													<!-- <div class="d-flex align-items-center w-200px w-sm-300px flex-column mt-3">
														<div class="d-flex justify-content-between w-100 mt-auto mb-2">
															<span class="fw-bold fs-6 text-gray-400">Profile Compleation</span>
															<span class="fw-bolder fs-6">50%</span>
														</div>
														<div class="h-5px mx-3 w-100 bg-light mb-3">
															<div class="bg-success rounded h-5px" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div> -->
													<!--end::Progress-->
												</div>
												<!--end::Stats-->
											</div>
											<!--end::Info-->
										</div>
										<!--end::Details-->
										<!--begin::Navs-->
										<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
											<!--begin::Nav item-->
											<li class="nav-item mt-2">
												<a class="nav-link text-active-primary ms-0 me-10 py-5" href="{% url 'UtilizadorEquipmentuDash' %}">Dadus Utilizador</a>
											</li>
											<!--end::Nav item-->
											<!--begin::Nav item-->
											<li class="nav-item mt-2">
												<a class="nav-link text-active-primary ms-0 me-10 py-5" href="{% url 'UtilizadorUzaEquipmentuDash' %}">Uza Ekipamentu</a>
											</li>
											<!--end::Nav item-->
											<!--begin::Nav item-->
											<li class="nav-item mt-2">
												<a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="{% url 'HistoriaUtilazaEkipamentuLaboratoriu' %}">Historia Uza Ekipamentu</a>
											</li>
											<!--end::Nav item-->
											<!--begin::Nav item-->
											
											<!--end::Nav item-->
											
										</ul>
										<!--begin::Navs-->
									</div>
								</div>
								<!--end::Navbar-->
								<!--begin::details View-->
								<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
									<!--begin::Card header-->
									<div class="card-header cursor-pointer">
										<!--begin::Card title-->
										<div class="card-title m-0">
											<h3 class="fw-bolder m-0">{{title}}</h3>
										</div>
									</div>
									<!--begin::Card header-->
									<!--begin::Card body-->
									<div class="card-body p-9">
										{% if page == 'historiaUzaEkipamentuList' %}
										
										<div class="table-responsive">
											<!--begin::Table-->
											<table id="example" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
												<!--begin::Table head-->
												<thead>
													<tr class="fw-bolder text-muted">
														<th class="min-w-10px">Nu.</th>
														<th class="min-w-140px">Naran Ekipamentu</th>
														<th class="min-w-120px">Nu. Serial</th>
														<th class="min-w-120px">Kondisaun Empresta</th>
														<th class="min-w-120px">Estadu</th>
														<th class="min-w-120px">Data Empresta</th>
														<th class="min-w-120px">Data Entrega</th>
														<th class="min-w-120px">Utilizador</th>
														<th class="min-w-120px">Kondisaun Entrega</th>
														<!-- <th class="min-w-100px text-center">Actions</th> -->
													</tr>
												</thead>
												<!--end::Table head-->
												<!--begin::Table body-->
												<tbody>
													{% for obj in objects %}
													<tr>
														<td>
																{{forloop.counter}}
														</td>
														<td data-title="Username">
															<div class="d-flex align-items-center">
																<div class="symbol symbol-45px me-5">
																	{% if obj.item.image %}
																	<img src="{{obj.item.image.url}}" alt="" class="zoom" />
																	{% else %}
																	<img src="{% static 'assets/media/avatars/blank.png' %}" alt="No Photo" class="zoom" />
																	{% endif %}
																</div>
																<div class="d-flex justify-content-start flex-column">
																	{{ obj.item.ekipamentu.naran }}
																</div>
															</div>
														</td>
				                  	<td data-title="Group">{{ obj.item.nu_serial}}</td>
				                  	<td data-title="Email">{{ obj.item.kondisaun }}</td>
				                  	<td data-title="Email">{{ obj.item.status }}</td>
				                  	<td data-title="Email">{{ obj.data_empresta|date:"d/M/Y" }}</td>
				                  	<td data-title="Email">{{ obj.data_entrega|date:"d/M/Y" }}</td>
				                  	<td data-title="Email">{{ obj.utilizador.naran }}</td>
				                  	<td data-title="Email">{{ obj.kondisaun }}</td>
													</tr>
													

													{%endfor%}
												</tbody>
												<!--end::Table body-->
											</table>
											<!--end::Table-->
										</div>
										{% endif %}
									</div>
									<!--end::Card body-->
										
								</div>
								<!--end::details View-->
								
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
{% endblock %}
{% block script %}
	{% if page == 'historiaUzaEkipamentuList' %}
		{% include 'exports_custom1.html' %}

	{% endif %}
{% endblock %}
