{% load static %}
<!--begin::Modal - Create App-->
	{% if page == 'dash' %}
		<div class="modal fade" id="modal_id_update_equipment-{{obj.hashed}}" tabindex="-1" aria-hidden="true">
			<!--begin::Modal dialog-->
			<div class="modal-dialog modal-dialog-centered mw-900px">
				<!--begin::Modal content-->
				<div class="modal-content">
					<!--begin::Modal header-->
					<div class="modal-header">
						<!--begin::Modal title-->
						<h2>Formulariu Altera Ekipamentu</h2>
						<!--end::Modal title-->
						<!--begin::Close-->
						<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
							<span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
						<!--end::Close-->
					</div>
					<!--end::Modal header-->
					<!--begin::Modal body-->
					<div class="modal-body py-lg-10 px-lg-10">
						<!--begin::Stepper-->
						<div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_modal_create_app_stepper">
							<!--begin::Content-->
							<div class="flex-row-fluid py-lg-5 px-lg-15">
								<!--begin::Form-->
								<form class="form" action="{% url 'updateEquipment' obj.hashed %}" method="POST" id="kt_modal_create_app_form">
								{% csrf_token %}
									<!--begin::Step 1-->
									<div class="current" data-kt-stepper-element="content">
										<div class="w-100">
											<!--begin::Input group-->
											<div class="fv-row mb-5">
												<!--begin::Label-->
												<label class="d-flex align-items-center fs-5 fw-bold mb-2">
													<span class="required">Naran Ekipamentu</span>
													<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify your unique username"></i>
												</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" class="form-control form-control-lg form-control-solid" name="ekipamentu" placeholder="" value="{{obj.naran}}" required />
												<!--end::Input-->
											</div>
											<div class="fv-row mb-5">
												<!--begin::Label-->
												<label class="d-flex align-items-center fs-5 fw-bold mb-2">
													<span class="required">Marka</span>
													<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify your unique username"></i>
												</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" class="form-control form-control-lg form-control-solid" name="marka" placeholder="" value="{{obj.marka}}" required />
												<!--end::Input-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
										<div class="fv-row mb-5">
											<label class="required fs-6 fw-bold mb-2">Data Simu</label>
											<div class="position-relative d-flex align-items-center">
												<!--begin::Icon-->
												<!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
												<span class="bi bi-calendar3 position-absolute mx-4">
													
												</span>
												<!--end::Svg Icon-->
												<!--end::Icon-->
												<!--begin::Datepicker-->
												<input  type="date" id="dataSimu" value="{{ obj.data_simu|date:'m/d/Y' }}" class="form-control form-control-solid ps-12" placeholder="Pick date range" required name="data"/>
												<!--end::Datepicker-->
											</div>
										</div>
										<!--end::Input group-->
											<!--begin::Input group-->
										<div class="fv-row mb-5">
											<!--begin::Label-->
											<label class="required fs-6 fw-bold mb-2">Kategoria</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option" name="kategoria" required>
												{% for i in catlist %}
													{% if i.id == obj.kategoria.id %}
													<option value="{{i.id}}" selected>{{i.kategoria}}</option>
													{% else %}
													<option value="{{i.id}}">{{i.kategoria}}</option>
													{% endif %}
												{% endfor %}
											</select>
											<!--end::Input-->
										</div>
										<div class="fv-row mb-5">
											<!--begin::Label-->
											<label class="required fs-6 fw-bold mb-2">Doador</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option" name="doador" required>
												<option>-----Hili Doador-----</option>
												{% for i in doadorlist %}
													{% if i.id == obj.doador.id %}
													<option value="{{i.id}}" selected>{{i.doador}}</option>
													{% else %}
													<option value="{{i.id}}">{{i.doador}}</option>
													{% endif %}
												{% endfor %}
											</select>
											<!--end::Input-->
										</div>
										<!--end::Input group-->
										</div>
									</div>
									<!--end::Step 1-->
									<!--begin::Actions-->
									<div class="d-flex justify-content-end pt-10">
										<!--begin::Wrapper-->
										<button type="submit" class="btn btn-lg btn-primary">
											<span class="indicator-label">Submit <i class="bi bi-box-arrow-in-right"></i></span>
										</button>
										<!--end::Wrapper-->
									</div>
									<!--end::Actions-->
								</form>
								<!--end::Form-->
							</div>
							<!--end::Content-->
						</div>
						<!--end::Stepper-->
					</div>
					<!--end::Modal body-->
				</div>
				<!--end::Modal content-->
			</div>
			<!--end::Modal dialog-->
		</div>
	{% elif page == 'detail' %}
		<div class="modal fade" id="modal_id_update_equipment-{{objects.hashed}}" tabindex="-1" aria-hidden="true">
			<!--begin::Modal dialog-->
			<div class="modal-dialog modal-dialog-centered mw-900px">
				<!--begin::Modal content-->
				<div class="modal-content">
					<!--begin::Modal header-->
					<div class="modal-header">
						<!--begin::Modal title-->
						<h2>Formulariu Altera Ekipamentu</h2>
						<!--end::Modal title-->
						<!--begin::Close-->
						<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
							<span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
						<!--end::Close-->
					</div>
					<!--end::Modal header-->
					<!--begin::Modal body-->
					<div class="modal-body py-lg-10 px-lg-10">
						<!--begin::Stepper-->
						<div class="stepper stepper-pills stepper-column d-flex flex-column flex-xl-row flex-row-fluid" id="kt_modal_create_app_stepper">
							<!--begin::Content-->
							<div class="flex-row-fluid py-lg-5 px-lg-15">
								<!--begin::Form-->
								<form class="form" action="{% url 'updateEquipment' objects.hashed %}" method="POST" id="kt_modal_create_app_form">
								{% csrf_token %}
									<!--begin::Step 1-->
									<div class="current" data-kt-stepper-element="content">
										<div class="w-100">
											<!--begin::Input group-->
											<div class="fv-row mb-5">
												<!--begin::Label-->
												<label class="d-flex align-items-center fs-5 fw-bold mb-2">
													<span class="required">Naran Ekipamentu</span>
													<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify your unique username"></i>
												</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" class="form-control form-control-lg form-control-solid" name="ekipamentu" placeholder="" value="{{objects.naran}}" required />
												<!--end::Input-->
											</div>
											<div class="fv-row mb-5">
												<!--begin::Label-->
												<label class="d-flex align-items-center fs-5 fw-bold mb-2">
													<span class="required">Marka</span>
													<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify your unique username"></i>
												</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" class="form-control form-control-lg form-control-solid" name="marka" placeholder="" value="{{objects.marka}}" required />
												<!--end::Input-->
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
										<div class="fv-row mb-5">
											<label class="required fs-6 fw-bold mb-2">Data Simu</label>
											<div class="position-relative d-flex align-items-center">
												<!--begin::Icon-->
												<!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
												<span class="bi bi-calendar3 position-absolute mx-4">
													
												</span>
												<!--end::Svg Icon-->
												<!--end::Icon-->
												<!--begin::Datepicker-->
												<input  type="date" id="dataSimu" value="{{ objects.data_simu|date:'m/d/Y' }}" class="form-control form-control-solid ps-12" placeholder="Pick date range" required name="data"/>
												<!--end::Datepicker-->
											</div>
										</div>
										<!--end::Input group-->
											<!--begin::Input group-->
										<div class="fv-row mb-5">
											<!--begin::Label-->
											<label class="required fs-6 fw-bold mb-2">Kategoria</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option" name="kategoria" required>
												{% for i in catlist %}
													{% if i.id == objects.kategoria.id %}
													<option value="{{i.id}}" selected>{{i.kategoria}}</option>
													{% else %}
													<option value="{{i.id}}">{{i.kategoria}}</option>
													{% endif %}
												{% endfor %}
											</select>
											<!--end::Input-->
										</div>
										<div class="fv-row mb-5">
											<!--begin::Label-->
											<label class="required fs-6 fw-bold mb-2">Doador</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option" name="doador" required>
												<option>-----Hili Doador-----</option>
												{% for i in doadorlist %}
													{% if i.id == objects.doador.id %}
													<option value="{{i.id}}" selected>{{i.doador}}</option>
													{% else %}
													<option value="{{i.id}}">{{i.doador}}</option>
													{% endif %}
												{% endfor %}
											</select>
											<!--end::Input-->
										</div>
										<!--end::Input group-->
										</div>
									</div>
									<!--end::Step 1-->
									<!--begin::Actions-->
									<div class="d-flex justify-content-end pt-10">
										<!--begin::Wrapper-->
										<button type="submit" class="btn btn-lg btn-primary">
											<span class="indicator-label">Submit <i class="bi bi-box-arrow-in-right"></i></span>
										</button>
										<!--end::Wrapper-->
									</div>
									<!--end::Actions-->
								</form>
								<!--end::Form-->
							</div>
							<!--end::Content-->
						</div>
						<!--end::Stepper-->
					</div>
					<!--end::Modal body-->
				</div>
				<!--end::Modal content-->
			</div>
			<!--end::Modal dialog-->
		</div>
	{% endif %}
		<!--end::Modal - Create App-->
<!-- <script>
									document.addEventListener("DOMContentLoaded", function() {
									    var defaultDateValue = "{{ obj.data_simu|date:'m/d/Y' }}";
									    console.log("Default Date Value:", defaultDateValue);
									    document.getElementById("dataSimu").value = defaultDateValue;
									});
									</script> -->