{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block headStyle %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

{% endblock %}
{% block content %}
<div class="toolbar" id="kt_toolbar">
	<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
		<!--begin::Page title-->
		<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
			<!--begin::Title-->
			<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1"><a class="text-dark" href="{% url 'home' %}">HOME</a>
			<!--begin::Separator-->
			<span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
			<!--end::Separator-->
			<!--begin::Description-->
			<small class="text-muted fs-7 fw-bold my-1 ms-1">{{title|upper}}</small>
			<!--end::Description--></h1>
			<!--end::Title-->
		</div>
		<!--end::Page title-->
		<!--begin::Actions-->
		<div class="d-flex align-items-center gap-2 gap-lg-3">
			<!--begin::Secondary button-->
			<!--end::Secondary button-->
			<!--begin::Primary button-->
			
			<!--end::Primary button-->
		</div>
		<!--end::Actions-->
	</div>
</div>
<!--begin::Post-->
<div class="post container-xxl">
{% if messages %}
    {% for message in messages %} 
        <div class="alert alert-{{ message.tags }} alert-dismissable">
        	<div class="d-flex justify-content-between">
          		{{message}}
          		<button type="button" class="close btn btn-sm" data-dismiss="alert" aria-hidden="true"><span class="bi bi-x-square"></span></button>
        	</div>
        </div>
    {% endfor %}
{% endif %}
</div>
<div class="post d-flex flex-column-fluid" id="kt_post">
	<!--begin::Container-->
	{% if page == "dash" %}
	
	<div id="kt_content_container" class="container-xxl">
		<div class="row gy-5 g-xl-8">
			<div class="col-xl-12">
				<div class="card mb-5 mb-xl-10">
					<div class="d-flex justify-content-end">
						
						<a href="#" class="m-3 btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modal_id_create_equipment"><i class="bi bi-plus-circle"></i> Rejista Ekipamentu</a>
					</div>
					<div class="card-body pt-9 pb-0">
						
						<!--begin::Table container-->
						<div class="table-responsive">
							<!--begin::Table-->
							<table id="ekipamentu-table" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
								<!--begin::Table head-->
								<thead>
									<tr class="fw-bolder text-muted">
										<th class="min-w-120px">
											<select id="search_kategoria" class="form-select" name="search_kategoria">
												<option value="">Kategoria</option>
												{% for i in lista_categoria %}
												<option value="{{i.kategoria}}">{{i.kategoria}}</option>
												{% endfor  %}
											</select>
											<!-- <input type="text" id="search_kategoria"  placeholder="Kategoria"> -->
										</th>
										<th class="min-w-120px">
											<input class="form-control" type="text" id="search_doador" name="search_doador" placeholder="Doador">
										</th>
										<th class="min-w-120px">Data Simu</th>
										<th class="min-w-140px">Naran Ekipamentu</th>
										<th class="min-w-120px">Marka</th>
										<th class="min-w-100px text-center">Actions</th>
									</tr>
								</thead>
								<!--end::Table head-->
								<!--begin::Table body-->
								
								<!--end::Table body-->
							</table>
							<!--end::Table-->
						</div>
						<!--end::Table container-->
					</div>
				</div>
				<!--end::Navbar-->
			</div>
		</div>
	</div>
	{% include 'equipment_a/ekipamentu_modal.html' %}
	{% endif %}
</div>
<!--end::Post-->
{% endblock %}

{% block script %}
	
	<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        // Initialize DataTable
        var table = $('#ekipamentu-table').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": false, // Disable search
            "ajax": {
                "url": "{% url 'ekipamentu_data1' %}",
                "data": function (d) {
                    d.search_kategoria = $('#search_kategoria').val();
                    d.search_doador = $('#search_doador').val();
                }
            },
            "columns": [
                {"data": "kategoria"},
                {"data": "doador"},
                {"data": "data_simu"},
                {"data": "naran"},
                {"data": "marka"}
            ],
            "pageLength": 3,
            "rowCallback": function (row, data, index) {
                // Add a click event to the row
                $(row).on('click', function () {
                    // Get the equipment ID from the data object (adjust the property name as needed)
                    var equipmentId = data.hashed;  // Assuming your data has an 'id' property

                    // Redirect to the detail page using the equipment ID
                    window.location.href = "{% url 'detailEquipment' 0 %}".replace('0', equipmentId);
                });
            }
        });

        // Add hover effect using event delegation
        $('#ekipamentu-table tbody').on('mouseover', 'tr', function () {
            $(this).css('background-color', '#f5f5f5');
        }).on('mouseout', 'tr', function () {
            $(this).css('background-color', '');  // Reset background color on mouseout
        });
        // Add event listener for search inputs
        $('#search_kategoria, #search_doador').on('keyup', function () {
	        table.draw();
	    });
    });
</script>
{% endblock %}