{% load static %}	
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted fw-bold me-1">Copyright © 2023</span>
								<a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">GEOLAB. All rights reserved.</a>
							</div>
							<!--end::Copyright-->
							<!--begin::Menu-->
							<div class="text-dark order-2 order-md-1">
							<a href="https://sejd.gov.tl/" class="text-muted" target="_blank">FECT</a> | <a href="https://sejd.gov.tl/" class="text-muted" target="_blank">UNTL</a> | Timor-Leste
							</div>
							<!--end::Menu-->
						</div>
						<!--end::Container-->
					</div>